<section class="hero is-success is-small">
  <div class="hero-body">
    <div class="">
        <%# <span class="navbar-item"> %>
            <%# <%= link_to new_entry_path, class: "button is-danger" do %> %>
            <%# <span>"Create new Path"</span> %>
            <%# <% end %> %>
        <%# </span> %>
      <%# <p class="title"> %>
        <%# <% if content_for(:title) %> %>
            <%# <%= yield :title%> %>
        <%# <% else %> %>
        <%# Foodjob %>
        <%# <% end %> %>
      <%# </p> %>
        <%= link_to 'Show Tags', tags_path %> |


    </div>
  </div>
</section>
